<% provide :title, t("about") %>
<h1><%= t "about" %></h1>
<p>
  <%= link_to t("rort"), "http://www.railstutorial.org/" %>
  <%= link_to t(".book"), "http://www.railstutorial.org/book" %>
  <%= link_to t(".screencast"), "http://screencasts.railstutorial.org/" %>
  <%= t ".teach_web" %>
  <%= link_to t("ror"), "http://rubyonrails.org/" %>.<br>
  <%= t ".message" %>.
</p>
