<h1><%= t "sample_app" %></h1>

<p><%= t "hi" %><%= @user.name %></p>
<p><%= t "click-link-to-activate" %></p>
<%= link_to t("account_active"), 
  edit_account_activation_url(@user.activation_token, email: @user.email) %>
