<footer class="footer">
  <small>
    <%= link_to t("rort"), "http://www.railstutorial.org/" %> by
    <%= link_to t("michael_hartl"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("new"), "http://www.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
